@font-face {
    font-family: OpenSans-bold;
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,800');
}

@font-face {
    font-family: OpenSans-regular;
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-width: 320px;
}

a{
    cursor: pointer;
}

@media (max-width: 640px) {
    .header-logo, .footer-logo {
        width: 136px;
    }

    .header-logo .icon, .footer-logo .icon {
        height: 36px;
    }
}

@media (max-width: 640px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 641px) {
    .header-logo, .footer-logo {
        width: 187px;
    }

    .header-logo .icon, .footer-logo .icon {
        height: 51px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 961px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 1560px;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 2.9rem;
        margin-bottom: 8.4rem;
    }

    .play-college-sports {
        margin-top: 1.3rem;
        margin-left: 4rem;
        line-height: 1.3;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    h1 {
        font-size: 6.4rem;
        max-width: 60rem;
        margin-bottom: 30rem;
        line-height: 1.1;
    }

    .play-college-sports {
        margin-top: 0.2rem;
        margin-left: 10.8rem;
    }
}

@media (max-width: 960px) {
    h1 {
        display: inline-block;
    }
}

@media (min-width: 961px) {
    h1 {
        font-size: 9rem;
        margin-bottom: 21.5rem;
        line-height: 1;
    }

    .play-college-sports {
        width: 100%;
        text-align: right;
    }
}

@media (max-width: 640px) {
    .button {
        width: 100%;
        max-width: 280px;
        padding-top: .5rem;
        padding-bottom: .6rem;
        padding-left: 15%;
        border-radius: 1.8rem;
        font-size: .8rem;
    }

    .button {
        margin-top: 1.5rem;
    }

    .button .icon {
        height: 2.5rem;
        margin-right: .6rem;
    }
}

@media (min-width: 641px) {
    .button {
        font-size: 1.6rem;
        padding: 1.6rem 5rem 1.6rem 3.8rem;
        border-radius: 38px;
        min-width: 31.4rem;
        justify-content: center;
    }

    .button .icon {
        height: 4.8rem;
        margin-right: 2.4rem;
    }

    .icon.android-icon {
        margin-left: -1.9rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .button-google:nth-child(even)  {
        margin-left: 3rem;
    }
}

@media (min-width: 961px) {
    .button-google:nth-child(even)  {
        margin-left: 5.5rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .button-google:nth-child(odd)  {
        margin-left: 3rem;
    }
}

@media (min-width: 961px) {
    .button-google:nth-child(odd)  {
        margin-left: 5.5rem;
    }
}

@media (max-width: 640px) {
    .header {
        padding-top: 3.3rem;
        padding-bottom: 8.4rem;
    }

    .header:before {
        background-image: url(https://pp.userapi.com/c850120/v850120144/caf0b/nLjF_BWkNQk.jpg);
    }

    .header-logo {
        margin-bottom: 12.6rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .header {
        padding-top: 4rem;
        padding-bottom: 8.9rem;
    }

    .header:before {
        background-image: url("https://pp.userapi.com/c850120/v850120144/caf15/D5NRYDCPkus.jpg");
    }

    .header-logo {
        margin-bottom: 16.5rem;
    }

}

@media (min-width: 961px) {
    .header {
        padding-top: 4.5rem;
        padding-bottom: 10.5rem;
    }

    .header:before {
        background-image: url("https://pp.userapi.com/c850120/v850120144/caf1f/EdAe7OMQZ-4.jpg");
    }

    .header-logo {
        margin-bottom: 29.9rem;
    }

}

@media (max-width: 640px) {
    .header-buttons, .footer-buttons {
        flex-wrap: wrap;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 960px) {
    .header-container{
        text-align: center;
    }
}

@media (max-width: 640px) {
    .section-main-title {
        font-size: 5rem;
    }

    .content {
        padding-top: 1.5rem;
    }

    .section-heading {
        margin-bottom: -3rem;
        overflow-x: hidden;
    }

    .section {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size: 1.5rem;
        line-height: 1.2;
        letter-spacing: 0.03rem;
    }

    .section-title {
        font-size: 2.3rem;
        padding-left: 3rem;
    }

    .section-title .title{
        margin-bottom: 2rem;

    }

    .section-number {
        font-size: 1.4rem;
        padding-bottom: .5rem;
        margin-right: .9rem;
        top: 0.6rem;
    }

    .section-number:after {
        height: .4rem;
        border-radius: .4rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .section-main-title {
        font-size: 9rem;
    }

    .section-heading {
        padding-top: 7rem;
        margin-bottom: 0.5rem;
    }

    .section {
        box-sizing: border-box;
        padding-top: 4rem;
        padding-bottom: 3.2rem;
        font-size: 1.6rem;
        line-height: 1.7;
    }

    .section-title {
        font-size: 3.2rem;
        padding-left: 4rem;
    }
    .section-title .title{
        margin-bottom: 2rem;

    }
    .section-number{
        top: 0.6rem;
    }
}

@media (min-width: 641px) {
    .section-number {
        font-size: 1.9rem;
        padding-bottom: .6rem;
    }

    .section-number:after {
        height: .5rem;
        border-radius: .5rem;
    }

    .section-title {
        padding-left: 3rem;
    }

    .section-title .caption {
        letter-spacing: 0.06em;
    }
}

@media (min-width: 961px) {
    .content {
        overflow: hidden;
    }

    .section-heading {
        padding-top: 10rem;
    }

    .section-main-title {
        font-size: 8.5rem;
        margin-bottom: 2.5rem;
    }

    .section {
        padding-top: 5.1rem;
        padding-bottom: 5.5rem;
        font-size: 2rem;
        box-sizing: border-box;
        position: relative;
    }

    .section-title{
        font-size: 3.6rem;
    }
    .section-title .title{
        margin-bottom: 1.45rem;
    }
    .section-number{
        top: 1rem;
    }
}

@media (min-width: 961px){
    .section-container {
        position: relative;
        z-index: 1;
    }
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.container {
    box-sizing: border-box;
}

.icon {
    fill: #fff;
}

.icon:hover{
    cursor: pointer;
}

.container {
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .03em;
    text-align: left;
}

.be-recruited,
.play-college-sports {
    display: block;
}

.button {
    background-color: #5e42b0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.download-on-the,
.app-store{
    display: block;

}

.app-store{
    font-weight: bold;

}

.header {
    background-color: #0a0e34;
    position: relative;
    z-index: -1;
}

.header:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;


}

.header-logo, .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-buttons, .footer-buttons {
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
}

.section-container {
    box-sizing: border-box;
}

.section-main-title {
    color: #e7e7e7;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title {
    position: relative;
}

.section-number {
    position: absolute;
    line-height: 1.3;
    font-weight: bold;
    color: #000000;
    left: 0;
}

.section-number:after {
    content: "";
    width: 100%;
    background-color: #5e42b0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.section-medium .section-number:after,
.section-violet .section-number:after {
    background-color: #fff;
}

.section-violet,
.section-black {
    color: #fff;
}

.section-black .section-number {
    color: #9173e6;
}

.section-title .title {
    margin-top: 0;
    color: #c1c1c1;
    text-transform: uppercase;
    line-height: 1.3em;
}

.section-gray {
    background-color: #f5f4f9;
}

.section-violet {
    background-color: #5e42b0;
}

.section-black {
    background-color: #0a0e34;
}

.athletes-picture {
    display: block;
    background-repeat: no-repeat;
}

@media (max-width: 640px) {
    .athletes-heading-container {
        display: flex;
        flex-direction: column;
    }

    .athletes-heading-container .section-main-title {
        order: -1;
    }

    .athletes-picture {
        width: 192px;
        height: 281px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        margin-top: 0.6rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .athletes-picture {
        width: 499px;
        height: 700px;
        right: 57%;
        top: 4rem;
    }

    .athletes .section .container,
    .athletes .section-heading .container {
        padding-left: 38%;
    }
}

@media (min-width: 641px) {
    .athletes-picture {
        position: absolute;
    }
}

@media (min-width: 961px) {
    .athletes-heading-container {
        position: relative;
    }

    .athletes-picture {
        width: 566px;
        height: 908px;
        top: -7rem;
        z-index: 1;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    .athletes-picture {
        right: 50%;
    }
}

@media (min-width: 1921px) {
    .athletes-picture {
        right: 78rem;
    }

}

@media (min-width: 961px) and (max-width: 1920px) {
    .athletes .section-container {
        padding-left: 50%;
    }
}

@media (min-width: 1921px) {
    .athletes .section-container {
        padding-left: 81rem;
    }

}

.players-picture {
    display: block;
    background-repeat: no-repeat;
}

@media (max-width: 640px) {
    .players-heading-container {
        display: flex;
        flex-direction: column;
    }

    .players-heading-container .section-main-title {
        order: -1;
    }

    .players-picture {
        width: 302px;
        height: 248px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.4rem;
        margin-top: 0.5rem;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .players-picture {
        width: 436px;
        height: 699px;
        right: 0;
        top: 4rem;
    }

    .players .section .container,
    .players .section-heading .container {
        padding-right: 38%;
    }
}

@media (min-width: 641px) {
    .players-picture {
        position: absolute;
    }
}

@media (min-width: 961px) {
    .players-heading-container {
        position: relative;
    }

    .players-picture {
        width: 991px;
        height: 815px;
        top: -7.5rem;
        z-index: 1;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    .players-picture {
        left: 45%;
    }
}

@media (min-width: 1921px) {
    .players-picture {
        left: 62.5rem;
    }

}

@media (min-width: 961px) and (max-width: 1920px) {
    .players .section-container {
        padding-left: 10%;
        padding-right: 51%;
    }
}

@media (min-width: 1921px) {
    .players .section-container {
        padding-left: 13rem;
        padding-right: 81rem;
    }

}

.step-number {
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #5e42b0;
}

.step-number .number {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.step-number .number:after {
    content: "";
    width: 100%;
    position: absolute;
    background-color: #9173e6;
    bottom: 0;
    left: 0;
}

.step-picture {
    max-width: 100%;
}

.step-picture .picture-src {
    max-width: 100%;
    display: block;
}

.step-title {
    text-transform: uppercase;
    color: #e7e7e7;
    line-height: 1.2;
}

.step-title .title {
    margin-top: 0;
}

.step-content {
    line-height: 1.25;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .step-title {
        font-size: 2.8rem;
    }

    .step-title .title {
        margin-bottom: 2.2rem;
    }

    .step-content {
        font-size: 1.6rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 21.2rem;
    }

    .step-number {
        width: 7rem;
        height: 7rem;

    }

    .step-number .number {
        font-size: 1.4rem;
        line-height: 2.2;
    }

    .step-number .number:after {
        height: 0.4rem;
        border-radius: 0.4rem;
    }

    .step-number {
        top: 0;
        margin-top: -9rem;
    }
}

@media (min-width: 641px) {

    .step-title .title {
        margin-bottom: 2rem;
    }

    .step-number {
        font-size: 2.4rem;
        line-height: 2.2;
        letter-spacing: 0.05rem;
    }

    .step-number .number:after {
        height: 0.5rem;
        border-radius: 0.5rem;
    }

    .step-content {
        position: relative;
    }
}

@media (max-width: 960px) {
    .step-title {
        position: relative;
    }

}

@media (min-width: 641px) and (max-width: 960px) {
    .step-title {
        font-size: 8rem;
    }

    .step-content {
        padding-top: 7.8rem;
        padding-bottom: 9.8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        line-height: 1.2;
        font-size: 2.4rem;
    }

    .step-number {
        width: 11.6rem;
        height: 11.6rem;
    }

    .step-number {
        top: 0;
        margin-top: -16rem;
    }
}

@media (min-width: 961px) {
    .step-number {
        width: 16.8rem;
        height: 15.5rem;
    }

    .step {
        display: flex;
    }

    .step-picture {
        width: 50%;
    }

    .step-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10rem;
        padding-right: 12rem;
    }

    .step-number {
        left: -7.5rem;
        margin-top: -2.5rem;
    }

    .step-number .number {
        margin-top: -2.2rem;
    }

    .steps {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
    .step:nth-child(2n) .step-content{
        padding-left: 10rem;
        padding-right: 12rem;
    }
    .step:nth-child(2n) .step-picture {
        order: 1;
    }

    .step:nth-child(2n) .step-number {
        left: auto;
        right: -8rem;
    }
}

@media (min-width: 961px) and (max-width: 1920px) {
    .step-title {
        font-size: 4rem
    }

    .step-title .title {
        margin-bottom: 5rem
    }

    .step-content {
        font-size: 1.6rem
    }
}

@media (min-width: 1920px) {
    .step-title {
        font-size: 7rem;
    }

    .step-title .title {
        margin-bottom: 10rem;
    }

    .step-content {
        font-size: 2.4rem;
    }
}

.footer {
    background-color: #0a0e34;
    position: relative;
    color: #ffffff;
    z-index: -1;
}

.footer:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.footer-container {
    position: relative;
}

.download-logo {
    background: linear-gradient(to right, #50329c, #7751db);
    display: flex;
}

.download-logo .icon {
    margin: auto;
}

.footer-slogan {
    text-transform: uppercase;
}

.footer-slogan .download-app {
    font-weight: bold;
    display: block;
    letter-spacing: 0.04em;
}

.footer-slogan .show-everyone {
    color: #9b8ec1;
}

@media (max-width: 640px) {
    .footer {
        padding-top: 9.7rem;
        padding-bottom: .6rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb72d/dDYsj5D03wU.jpg");
    }

    .download-logo {
        width: 7.4rem;
        height: 7.4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7.4rem;
        border-radius: 2rem;
    }

    .download-logo .icon {
        height: 4.6rem;
    }

    .download-app {
        margin-bottom: 7.3rem;
    }

    .footer-slogan .download-app {
        font-size: 3.2rem;
    }

    .footer-slogan .show-everyone {
        font-size: 1.4rem;
    }

    .footer-buttons {
        margin-bottom: 8.4rem;
    }
}


@media (max-width: 960px) {
    .footer-slogan {
        text-align: center;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer {
        padding-top: 12.2rem;
        padding-bottom: 2rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb736/zHW6bvo6pHQ.jpg");
    }

    .download-logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7.3rem;
    }

    .download-app {
        margin-bottom: 27.8rem;
    }

    .download-logo .icon {
        height: 8.4rem;
    }

    .footer-slogan .hint {
        font-size: 3.6rem;
    }

    .footer-buttons {
        margin-bottom: 4rem;
    }
}

@media (min-width: 641px) {
    .footer-slogan .download-app {
        font-size: 8rem;
    }

    .download-logo {
        width: 13rem;
        height: 13.7rem;
        border-radius: 2rem;
    }

    .download-logo .icon {
        height: 8.4rem;
    }
}

@media (min-width: 961px) {
    .footer {
        padding-top: 22rem;
        padding-bottom: 4.6rem;
    }

    .footer:before{
        background-image: url("https://pp.userapi.com/c850120/v850120786/cb740/hYLCWUGvN-Q.jpg");
    }

    .download-app {
        display: flex;
        justify-content: center;
    }

    .download-logo{
        margin-right: 3rem;
    }

    .download-app{
        margin-bottom: 15.3rem;
    }

    .footer-slogan .download-app {
        line-height: 1.1;
        margin-top: .6rem;
    }

    .footer-slogan .show-everyone {
        font-size: 3rem;
    }

    .footer-buttons {
        margin-bottom: 24.8rem;
    }
}
